/* @keyframes mymove {
    from {left: 0px;}
    to {left: end;}
}
.animated-container {
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forward;
    animation-timing-function: ease-in;

} */
.result-panel {
    background-image: url("/assets/HtmlGame/resultbgpanel.jpeg");
}